body 
{
    margin-bottom: 100px;
    margin-top: 30px;
    color: #2deba2;
    font-family: 'Lemonada', cursive;

}

.animasi {
    width: 600px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
